*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    min-height: 100%
}
body
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }

.title 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:blue;
    font-size: 32px;
    font-weight: 1000;
}

.list li
{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;

}

.main.list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 32px;
    text-decoration: none;
    height: 100%;
}

.list li a:hover
{
    color: turquoise;
}

.main.list li:hover{
    background-color: rgb(96, 43, 203);
}
.main.list li
{

    border-radius: 10px;
    background-color: rgb(10, 56, 180);
    width: 50%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
#duckimg
{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0px 0px 15px #fff;
}

.sectitle{
    color: red;
    font-weight: 800;
    
}

.displayimg{

    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0px 0px 15px #fff;
}

.main.list
{
    gap: 10px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}